.details-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	font-family: Arial, sans-serif;
}

.details-container h1 {
	font-size: 2em;
	color: #fff;
	margin-bottom: 10px;
	text-align: center;
}

.details-container img {
	max-width: 200px;
	margin: 10px 0;
	border-radius: 8px;
}

.details-container p {
	font-size: 1.1em;
	color: #fff;
	line-height: 1.6;
	text-align: center;
	max-width: 600px;
}

.details-container p strong {
	color: #fff;
}

.details-container p.author {
	font-size: 1.1em;
	font-style: italic;
	color: #fff;
}

.details-container .subjects {
	font-size: 0.9em;
	color: #fff;
}
